{% extends "portfolio/base.html" %}
{% load static %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block content %}
<Style type='text/css' >body{background-color:rgb(0,0,0);background-image:url(https://www.commentnation.com/hotlinks/blue_vertical_stripes.jpg);background-position:top left;background-repeat:repeat;background-attachment:fixed;}</Style>
<br><br>

    <div class="media">
      <div class="media-body">
        <br><br><br><br>
        <hr>
        <h1 class="mt-0 mb-3 mx-2" style="font-family:Comic Sans MS;background-color:LIGHTBLUE;color:white">
          I'm a Backend Developer and in search of my new creative endeavours.
        </h1>
        <hr>
      </div>
      <img src="{% static 'portfolio/working.jpg' %}" class="ml-3" alt="..." height="400" width="500">
    </div>

    <br>

    <div class="media">
      <div class="media-body">
        <br>
        <br>
        <br>
        <hr>
        <h2 class="mt-0" style="font-family:Comic Sans MS;">
          <center>
            <div class="jumbotron">
            <p style="color:LIGHTBLUE;background-color:white">
              I don’t like to define myself by the work I’ve done. I define myself by the work I want to do.
              Skills can be taught, personality is inherent. I prefer to keep learning, continue challenging myself, and do interesting things that matter.
              <br>
              <br>
               Fueled by high energy levels and boundless enthusiasm, I’m easily inspired and more then willing to follow my fascinations wherever they take me.
               I’m passionate, expressive, multi-talented spirit with a natural ability to entertain and inspire.
               I’m never satisfied to just come up with ideas. Instead I have an almost impulsive need to act on them.
               <br><br>
               My abundant energy fuels me in the pursuit of many interests, hobbies, areas of study and artistic endeavors.
               <br><br>
               You can reas more about my experience, skills, education and much more in the PDF attached.
            </p>
            </div>
          </center>
        </h2>
        <hr>
      </div>
    </div>
    <br>

    <h1 class="mt-0 mb-3 mx-2" style="font-family:Comic Sans MS;background-color:LIGHTBLUE;color:white">
      Find me:
      <center>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224568.30311784614!2d76.84931980723768!3d28.42288551168148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19d582e38859%3A0x2cf5fe8e5c64b1e!2sGurugram%2C%20Haryana!5e0!3m2!1sen!2sin!4v1601726465884!5m2!1sen!2sin"
        width="800" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
        <br>
        <br>
      <center>
    </h1>


<br>
<br>
<br>


{% endblock %}
