{% extends "portfolio/base.html" %}

{% load static %}

{% block blogactive %} active {% endblock blogactive %}

{% block content %}

<Style type='text/css' >body{background-color:rgb(0,0,0);background-image:url(https://www.commentnation.com/hotlinks/blue_butterflies_watermark.jpg);background-position:top left;background-repeat:repeat;background-attachment:fixed;}</Style>
<br>


<h1 class="text-center mb-5" style="font-family:Comic Sans MS;background-color:lightblue">
  Appie loves {{ blogs.count }} blog{{ blogs.count|pluralize }}...
</h1>

<div class="jumbotron">
{% for blog in blogs %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h3 style="font-family:Comic Sans MS;color:lightblue;background-color:white;">{{ blog.title }}</h3>
    </a>
    <p class="text-muted" style="font-family:Comic Sans MS">
      {{ blog.date|date:'M d Y'|upper }}
    </p>
    <h5 style="font-family:Comic Sans MS;">
      {{ blog.description|striptags|truncatechars:100 }}
    </h5>
    <hr>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
